<footer class="text-center text-white mb-0" style="background-color: #1a2b49;color:white;" >
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Images -->
      <section class="">
        <div class="row d-xl-flex d-lg-flex d-md-none  d-sm-none d-none">
          <div class="col-lg-2 col-md-12  mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://cdn.getyourguide.com/img/tour/a2c3f1ac91aa1e2a.jpeg/132.webp"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://cdn.getyourguide.com/img/tour/5b0fbf0b9fe58.jpeg/132.webp"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://cdn.getyourguide.com/img/tour/5cf828223498f.jpeg/132.webp"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://cdn.getyourguide.com/img/tour/640e77ae71ab8.jpeg/132.webp"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://cdn.getyourguide.com/img/tour/60c88836b3e70.jpeg/132.webp"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://cdn.getyourguide.com/img/tour/01dadef838bbebac.jpeg/132.webp"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);color:rgb(59, 59, 59);color:white">
      <div class="p-5">
        <div > 
          <i class="fa-brands fa-facebook fa-xl mx-2"></i>
          <i class="fa-brands fa-instagram fa-xl mx-2"></i>
          <i class="fa-brands fa-twitter fa-xl mx-2"></i>
          <i class="fa-brands fa-tiktok fa-xl mx-2"></i>
          <i class="fa-brands fa-youtube fa-xl mx-2"></i>
          <i class="fa-solid fa-phone fa-xl mx-2"></i>
            <i class="fa-brands fa-whatsapp fa-xl mx-2"></i>
            <i class="fa-solid fa-envelope fa-xl mx-2"></i>
         
        </div>
       
      </div>
       
     <div >
      © 2023 Copyright: OMAR MOHAMED
     </div>
      <div class="d-flex justify-content-around">
        <div>
          DATE : {{todayDate|date:'fullDate'}}
   
         </div>
         <div>
           TIME : {{todayDate|date:'mediumTime'}}
         </div>
         
      </div>
      
    </div>
    
    <!-- Copyright -->
  </footer>