
.title{
    color:white;
    position: absolute;
    top: 36%;
    left: 5%;
    font-size: larger;
  font-weight:bold;
}
.container{
    position: relative;
  text-align: left;
  margin-bottom: 20px;
  
}
.cart{
  background:#5C8984;
}
