
<div *ngIf="loader" class="loader">
  <section class="dots-container">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </section>
</div>
<div class="d-flex flex-wrap w-100">
  
 
  <div class="card tripCard mx-1 my-2"  *ngFor="let trip of tripsFromCatId,let i=index">
    <img [src]="trip.imgURL" class="card-img-top" style="max-height: 300px;">
    <div class="card-body">
      <div><small>{{i+1}}</small></div>
      <div class="mb-2"><small >{{trip.category}}</small></div>
      <h6 class="card-title">{{trip.name}}</h6>
     
        <div><small ><i class="fa-regular fa-clock mx-1"></i>Duration : {{trip.duration}} hours</small></div>
        <div><small ><img src="https://cdn-icons-png.flaticon.com/512/3037/3037156.png" height="14px" width="14px" class="mx-1"/>Price in Pound: {{trip.price |currency:'EGP':'symbol'}} </small></div>
        <div><small ><img src="https://cdn-icons-png.flaticon.com/512/3037/3037156.png" height="14px" width="14px" class="mx-1"/>Price in Dollars: {{trip.price |eGPtoDollars|currency:'USD'}} </small></div>
        <ng-container [ngSwitch]="trip.tickets">
          <small *ngSwitchCase="0" class="bg-danger" style="color:white"><i class="fa-regular fa-circle-xmark mx-1"></i>Out Of Stock!</small>
          <small *ngSwitchCase="1" class="bg-warning"> <i class="fa-sharp fa-light fa-ticket-simple"></i> Last Ticket!</small>
          <small *ngSwitchCase="2" class="bg-warning"><i class="fa-sharp fa-light fa-ticket-simple"></i> Last Two Tickets!</small>
          <small *ngSwitchDefault><i class="fa-sharp fa-light fa-ticket-simple"></i> Tickets: {{trip.tickets}} tickets</small>
        </ng-container>
        <div><small><i class="fa-regular fa-star mx-1"></i>Rating : {{trip.ratingOfFive}} stars</small></div>
        
          <small><img src="https://www.pngmart.com/files/6/Ticket-PNG-Clipart.png" 
            height="35px" width="50px" class="mx-1"/>Number of places you want :</small>
          <input type="number" [value]="tripnum.value" #tripnum>
         
       
       
      <div class="text-center mt-3">
      <button  type="button" class="btn btn w-50 " [disabled]="trip.available==false" 
      *ngIf="trip.tickets!=0 ;else outOfStock" (click)="buyingMyItem(trip.id,trip.tickets,trip.price,tripnum.value)"
       (click)="handelCart(trip,tripnum.value)" appCardDirective >Buy</button><br>

      <button *ngIf="trip.tickets!=0" [disabled]="trip.available==false "
      class="btn btn-success w-50 mt-2 " (click)="showDetails(trip.id)" appCardDirective>Details</button>


      
        <ng-template  #outOfStock>
          <small style="color:red">Out of Stock , Stay in Touch!</small>
        </ng-template>
        <div *ngIf="trip.available==false">
          <small style="color:red">Unfortunately, It is not available now !</small>
        </div>
      </div>
      
    </div>
  </div>
</div>
 


<!-- table of cart -->
<div id="cart" class="p-3 mt-4">
<div class="text-center mt-5">
  <h3 >Displaying Items I'm Taking :</h3>
</div>
<div class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block" >
<table   class="table table table-striped mt-4" style="background-color: #2c436b;color:white">
  <thead style="background-color: #2c436b;color:white">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Name of Trip</th>
      <th scope="col">No Tickets i'm taking</th>
      <th scope="col">Price of Item</th>
      <th scope="col">Totla Price</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody style="background-color: #2c436b;color:white">
   <tr *ngFor="let trip of tripsOfCart, let i =index" style="background-color: #2c436b;color:white">
    <td >{{i+1}}</td>
    <td >{{trip.name}}</td>
    <td >{{trip.numberOfTripsYouWanna}}</td>
    <td >{{trip.price}}</td>
    <td >{{trip.price*trip.numberOfTripsYouWanna}}</td>
    <td>
      <a class="clickable" (click)="deleteItem(trip.id,trip.numberOfTripsYouWanna)"><i class="fa-solid fa-trash text-white"></i></a>
    </td>
   </tr>
  </tbody>
</table>
</div>
<div class="table-responsive d-block d-sm-block d-md-none" >
  <table class="table text-white ">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">name</th>
        <th scope="col">tickets</th>
        <th scope="col">price item</th>
        <th scope="col">total price</th>
        <th scope="col">delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trip of tripsOfCart, let i =index" style="background-color: #2c436b;color:white">
        <td scope="row">{{i+1}}</td>
        <td >{{trip.name}}</td>
        <td >{{trip.numberOfTripsYouWanna}}</td>
        <td >{{trip.price}}</td>
        <td >{{trip.price*trip.numberOfTripsYouWanna}}</td>
        <td>
          <a class="clickable" (click)="deleteItem(trip.id,trip.numberOfTripsYouWanna)"><i class="fa-solid fa-trash text-white"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<button class="btn  col-6 col-sml-6 col-md-6 col-lg-4 col xl-4 mb-3 " (click)="CalcTotalPrice()"   style="background-color: #2c436b;color:white">
  Show total price 
</button>

</div>
<h6 *ngIf="showArrowPro" class="my-4">TOTAL PRICE IS OVER THERE :</h6>
<img *ngIf="showArrowPro" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqn1zjpCS_KuO8LwWaBxyhPHz1izQhsvoyHWdYlLEC5SRlsbjnzwpkWf4UktnZ2cjRWKc&usqp=CAU" class="mt-2" >






<!-- Modal 1 -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Warning !</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        The number of tickets you want is bigger than offered !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal 2 -->
<div class="modal fade" id="myModal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Warning !</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Number of tickets must be Positive Value...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal 3 -->
<div class="modal fade" id="myModal3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Warning !</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       Sorry, The Number of Tickets is 0 , Plaese Pick a Number ! 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal 4 -->
<div class="modal fade" id="myModal4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Warning !</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       Sorry, You did not pick up any trip , So the total price is ZERO ! 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


