.tripCard{
    transition-property: all;
    transition-duration: 0.5s;
}
.tripCard:hover{
transform: scale(1.05);
}
.clickable{
    cursor: pointer;
}
.fa-solid{
    color:black
}
.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .dot:last-child {
    margin-right: 0;
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.3s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.1s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  
    50% {
      transform: scale(1.2);
      background-color: #6793fb;
      box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
  
    100% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  }

  .loader{
    margin-right: 80px;
    margin-top: 80px;
  }
#cart{
  background:#5C8984;
border-radius: 10px;
color:white
}


@media only screen and (min-width : 320px) {
     .card{
      width:100%
     }   
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .card{
    width:100%
   }  
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .card{
    width:48%
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .card{
    width:32%
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .card{
    width:23.9%
  }

}
table{
  vertical-align: top;
}
