<div data-spy="scroll" data-target=".navbar" data-offset="50">
  <h6>{{ singleTrip?.category }}</h6>
  <h1>{{ singleTrip?.name }}</h1>
  <!-- Div of images -->
  <div class="d-flex mt-4 mb-4" style="max-height: 400px">
    <!-- First One -->
    <div class=" col-8 me-1">
      <img
        *ngIf="!loader"
        [src]="singleTrip?.imgURL"
        width="100%"
        height="100%"
      />
      <div *ngIf="loader" class="loader"></div>
    </div>
    <div class="col-4 ">
      <div class="h-50">
        <!-- Second One -->
        <img
          *ngIf="!loader"
          [src]="singleTrip?.imgURL2"
          width="100%"
          height="100%"
        />
        <div *ngIf="loader" class="loader"></div>
      </div>
      <div class="d-flex h-50 mt-1">
        <div class="col-6">
          <img
            *ngIf="!loader"
            [src]="singleTrip?.imgURL3"
            width="100%"
            height="98%"
            class="me-1"
          />
          <div *ngIf="loader" class="loader"></div>
        </div>
        <div class="col-6">
          <img
            *ngIf="!loader"
            [src]="singleTrip?.imgURL4"
            width="100%"
            height="98%"
            class="ms-1"
          />
          <div *ngIf="loader" class="loader"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <h5>{{ singleTrip?.name }}.</h5>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <button
      type="button"
      class="btn btn-info col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 mx-2"
      (click)="goPrevFunc()"
      [disabled]="currentIndex == 0"
      appCardDirective
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-arrow-left-circle"
      >
        <circle cx="12" cy="12" r="10"></circle>
        <polyline points="12 8 8 12 12 16"></polyline>
        <line x1="16" y1="12" x2="8" y2="12"></line>
      </svg>

      PREV
    </button>

    <button
      type="button"
      class="btn btn-info col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 mx-2"
      (click)="goNextFunc()"
      [disabled]="currentIndex == arrayOFIds.length - 1"
      appCardDirective
    >
      NEXT
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-arrow-right-circle"
      >
        <circle cx="12" cy="12" r="10"></circle>
        <polyline points="12 16 16 12 12 8"></polyline>
        <line x1="8" y1="12" x2="16" y2="12"></line>
      </svg>
    </button>
  </div>
  <div
    class="d-flex justify-content-center align-items-center mb-5 mt-3 text-center"
  >
    <div style="color: red" *ngIf="currentIndex == arrayOFIds.length - 1">
      <h6>NO MORE NEXT!</h6>
      <h6>YOU CAN PRESS PREV!</h6>
    </div>
    <div style="color: red" *ngIf="currentIndex == 0">
      <h6>THERE IS NO PREV!</h6>
      <h6>YOU CAN PRESS NEXT!</h6>
    </div>
  </div>
  

  <h6 class="mb-4">ABOUT THIS ACTIVITY :</h6>
  
  <div>
    <div class="d-flex">
      <div class="mx-2" style="width: 2%">
        <!-- Icon -->
        <i class="fa-solid fa-calendar-days fa-xl"></i>
      </div>
      <div class="mx-3 mx-sm-3 mx-md-1">
        <h6>Free Cancelation</h6>
      </div>
    </div>
    <div class="d-flex">
      <div class="mx-2" style="width: 2%"></div>
      <div class="mx-3 mx-sm-3 mx-md-1">
        <p>Cancel up to 24 hours in advance for a full refund</p>
      </div>
    </div>
  </div>

  <div>
    <div class="d-flex">
      <div class="mx-2" style="width: 2%">
        <!-- Icon -->
        <i class="fa-solid fa-clock fa-xl"></i>
      </div>
      <div class="mx-3 mx-sm-3 mx-md-1">
        <h6>Duration {{ singleTrip?.duration }} hours</h6>
      </div>
    </div>
    <div class="d-flex">
      <div class="mx-2" style="width: 2%"></div>
      <div class="mx-3 mx-sm-3 mx-md-1">
        <p>Check availability to see starting times.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="d-flex">
      <div class="mx-2" style="width: 2%">
        <!-- Icon -->
        <img
          src="https://static.thenounproject.com/png/637305-200.png"
          width="29px"
          height="29px"
        />
      </div>
      <div class="mx-3 mx-sm-3 mx-md-1">
        <h6>Instructor</h6>
      </div>
    </div>
    <div class="d-flex">
      <div class="mx-2" style="width: 2%"></div>
      <div class="mx-3 mx-sm-3 mx-md-1">
        <p>English, German, Russian, Italian</p>
      </div>
    </div>
  </div>

  <div>
    <div class="d-flex">
      <div class="mx-2" style="width: 2%">
        <!-- Icon -->
        <i class="fa-solid fa-bus fa-xl"></i>
      </div>
      <div class="mx-3 mx-sm-3 mx-md-1">
        <h6>Pickup included</h6>
      </div>
    </div>
    <div class="d-flex">
      <div class="mx-2" style="width: 2%"></div>
      <div class="mx-3 mx-sm-3 mx-md-1">
        <p>
          Pickup is available from any address in Hurghada. Pickup and drop-off
          from Makadi Bay, Sahl Hasheesh, Soma Bay, El Gouna, and Safaga are
          available to book as an add-on.
        </p>
      </div>
    </div>
  </div>

  <!-- Modal 1 -->
  <div
    class="modal fade"
    id="myModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Warning !</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">Trip is not Found !</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-4">
    <h6>RATE OUR TRIP :</h6>
  </div>
  <div class="d-flex justify-content-center my-3">
    <div class="rating">
      <input value="star-1" name="star-radio" id="star-1" type="radio" />
      <label for="star-1">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
            pathLength="360"
          ></path>
        </svg>
      </label>
      <input value="star-1" name="star-radio" id="star-2" type="radio" />
      <label for="star-2">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
            pathLength="360"
          ></path>
        </svg>
      </label>
      <input value="star-1" name="star-radio" id="star-3" type="radio" />
      <label for="star-3">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
            pathLength="360"
          ></path>
        </svg>
      </label>
      <input value="star-1" name="star-radio" id="star-4" type="radio" />
      <label for="star-4">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
            pathLength="360"
          ></path>
        </svg>
      </label>
      <input value="star-1" name="star-radio" id="star-5" type="radio" />
      <label for="star-5">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
            pathLength="360"
          ></path>
        </svg>
      </label>
    </div>
  </div>


